.grid-figure {
    flex-basis: calc(33.333% - 4rem);
    flex-grow: 1;
    flex-shrink :0;
    margin: 0 2rem 2rem 2rem;
    padding: 2rem;
    border: 1px solid lightgray;
    background: white;
    box-shadow: 0 0 0 5px rgba(0,0,0,0.03);
    position: relative;
    width:25%;
}

.grid-photo-wrap {
    position: relative;
}

.likes-heart {
    background: url(http://f.cl.ly/items/3Y373q2Q3J3Y1j203n0m/Bitmap-3.png) center no-repeat;
    background-size: contain;
    font-size: 2rem;
    padding: 1rem;
    position: absolute;
    color: blue;
    left: 50%;
    top: 50%;
    pointer-events: none;
}

.control-buttons {
    display : flex;
    justify-content : space-between;
}

.button {
    border :2px solid grey;
    background :none;
    flex-basis :48%;
    display :inline-block;
    line-height :2;
    text-decoration: none;
    padding :5px;
    text-align :center;
    font-size :15px;
    color :blue;
    transition : all 0.2s;
    box-sizing: padding-box;
    border-color :blue;
    outline :0;
}
